# Operating System Files

*.DS_Store
Thumbs.db
*~
.#*
#*
*#

# tanzu files #
.tanzu

# Build Files #

bin
target
build/
.gradle

# Eclipse Project Files #

.classpath
.project
.settings

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Spring Bootstrap artifacts

dependency-reduced-pom.xml

mem*.db

README.html
